################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckoutOrderApi/.vs/CheckoutOrderApi
/CheckoutOrderApi/Application.Dto/obj
/CheckoutOrderApi/Application.Services/obj
/CheckoutOrderApi/CheckoutOrderApi/obj
/CheckoutOrderApi/Data.Reposiotry/obj
/CheckoutOrderApi/Domain.Core/obj
/CheckoutOrderApi/Domain.Model/obj
/CheckoutOrderApi/Infrastructure.CrossCutting/obj
/CheckoutOrderApi/Application.Dto/bin/Debug/netcoreapp2.2
/CheckoutOrderApi/Application.Services/bin/Debug/netcoreapp2.2
/CheckoutOrderApi/CheckoutOrderApi/bin/Debug/netcoreapp2.2
/CheckoutOrderApi/Data.Reposiotry/bin/Debug/netcoreapp2.2
/CheckoutOrderApi/Domain.Core/bin/Debug/netcoreapp2.2
/CheckoutOrderApi/Domain.Model/bin/Debug/netcoreapp2.2
/CheckoutOrderApi/Infrastructure.CrossCutting/bin/Debug/netcoreapp2.2
/.vs
/CheckoutOrderApi/.vs/config
/CheckoutOrderApi/CheckoutOrderApi/CheckoutOrderApi.csproj.user
/CheckoutOrderApi/Application.Services.Tests/bin/Debug/netcoreapp2.2
/CheckoutOrderApi/Application.Services.Tests/obj
/CheckoutOrderApi/CheckoutOrderAPI.Client/obj
/CheckoutOrderApi/Application.Dto/bin/Release/netcoreapp2.2
/CheckoutOrderApi/Application.Services/bin/Release/netcoreapp2.2
/CheckoutOrderApi/CheckoutOrderApi/bin/Release/netcoreapp2.2
/CheckoutOrderApi/Data.Reposiotry/bin/Release/netcoreapp2.2
/CheckoutOrderApi/Domain.Core/bin/Release/netcoreapp2.2
/CheckoutOrderApi/Domain.Model/bin/Release/netcoreapp2.2
/CheckoutOrderApi/Infrastructure.CrossCutting/bin/Release/netcoreapp2.2
/CheckoutOrderApi/CheckoutOrderApi/Properties/PublishProfiles
/CheckoutOrderApi/CheckoutOrderAPI.Client/bin/Debug/netcoreapp2.2
